main {
  padding: 4rem 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  gap: 2rem;
}
.address {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#checkout_cart {
  grid-column: 3;
}

.address h1 {
  color: #a54e70;
  font: 600 22px/30px Inter, Helvetica, sans-serif;
}

.address input,
.address select {
  color: var(--primary);
  border: 0.5px solid #000;
  align-items: start;
  padding: 15px 16px;
  font: 400 16px Inter, Helvetica, sans-serif;
  width: 100%;
  box-sizing: border-box;
}
.address input::placeholder,
.address select::placeholder {
  color: var(--primary);
}

.form-group2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
}
.form-group3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 0;
  accent-color: var(--accent);
}

.checkbox-group label {
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}
